﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />
</head>
<body>
    <main class="d-flex flex-row" style="min-height: 1080px">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <ul class="nav nav-pills flex-column mb-auto pt-5">
                <li class="nav-item">
                    <a class="nav-link @(ViewBag.Class == "Admin" ? "link-danger" : "link-dark" )" asp-area="" asp-controller="Categories" asp-action="Index">
                        Admin
                    </a>
                </li>
                <li class="mt-5">
                    <a class="nav-link @(ViewBag.Class == "Beli Barang" ? "link-danger" : "link-dark" )" asp-area="" asp-controller="Transactions" asp-action="Index">
                        Beli Barang
                    </a>
                </li>
                <li class="mt-5">
                    <a href="#" class="nav-link link-dark">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
