﻿@model List<FinalProject.Models.Category>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Product Type Page";
}
<head>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Product Type</h1>
    </div>

    <div class="d-flex flex-row justify-content-center m-5">
        <a asp-controller="Categories" asp-action="Index" class="btn @(ViewBag.CurrentTable == "Product Type" ? "btn-danger" : "btn-light" )" style="width: 280px">Product Type</a>
        <a asp-controller="Products" asp-action="Index" class="btn @(ViewBag.CurrentTable == "Product" ? "btn-danger" : "btn-light" )" style="width: 280px">Product</a>
    </div>


    <div class="card mt-2">
        <div class="card-body student-list">
            <button type="button" data-bs-toggle="modal" data-bs-target="#CreateCategoryModal" class="btn btn-primary mb-2">Create New Product Type</button>
            <table class="table" id="ProductTypeTable">
                <thead>
                    <tr>
                        <th> Jenis Barang </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.NamaKategori </td>
                            <td>
                                <button data-bs-toggle="modal" data-bs-target="#UpdateCategoryModal" id="@item.IdKategori" class="btn btn-warning">Update</button>
                                <a asp-controller="Categories" asp-route-id="@item.IdKategori" asp-action="DeleteCategory" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @* update modal *@
    <div class="modal fade" id="UpdateCategoryModal" tabindex="-1" aria-labelledby="UpdateCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="UpdateCategoryModalLabel">Update Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Categories" asp-action="UpdateCategory">
                    <div class="modal-body">
                        <input type="hidden" id="IdKategori" name="IdKategori" />
                        <div class="mb-3">
                            <label class="form-label"> Nama Kategori </label>
                            <input type="text" id="NamaKategori" class="form-control" name="NamaKategori" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* create modal *@
    <div class="modal fade" id="CreateCategoryModal" tabindex="-1" aria-labelledby="CreateCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CreateCategoryModalLabel">Create Category</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Categories" asp-action="CreateCategory">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label"> Nama Kategori </label>
                            <input type="text" class="form-control" name="NamaKategori" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@foreach (var item in Model)
{
    <script>
        $(function () {
            $('[id*=@item.IdKategori]').on('click', function () {
                $.get("Categories/GetCategoryById?id=" + "@item.IdKategori",
                    function (response) {
                        $('#IdKategori').val(response.idKategori);
                        $('#NamaKategori').val(response.namaKategori);
                    });
            });
        });
    </script>
}
