﻿@model List<FinalProject.Models.Product>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Transaction Page";
}
<head>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Transaksi</h1>
    </div>

    <div class="card mt-2">
        <div class="card-body student-list">
            <table class="table">
                <thead>
                    <tr>
                        <th> Nama Barang </th>
                        <th> Jenis Barang </th>
                        <th> Deskripsi Barang </th>
                        <th> Jumlah Stock </th>
                        <th> Harga Satuan </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.NamaBarang </td>
                            <td> @item.IdKategoriNavigation?.NamaKategori </td>
                            <td> @item.Deskripsi </td>
                            <td> @item.Stock </td>
                            <td>
                                @{
                                    string newPriceFormat = String.Format("{0:N}", item.Harga);
                                }

                                Rp @newPriceFormat
                            </td>
                            <td>
                                <button data-bs-toggle="modal" data-bs-target="#TransactionModal" id="@item.IdBarang" class="btn btn-warning">Beli</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @* modal after transaction *@
    <div class="modal fade" id="MessageModal" tabindex="-1" aria-labelledby="MessageLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1 class="modal-title text-center" id="Messa">@TempData["message"]</h1>
                </div>

            </div>
        </div>
    </div>

    @* transaction modal *@
    <div class="modal fade" id="TransactionModal" tabindex="-1" aria-labelledby="TransactionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="TransactionModalLabel">Beli</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Transactions" asp-action="CreateTransaction">
                    <div class="modal-body">
                        <input type="hidden" name="IdBarang" id="IdBarang" />
                        <div class="mb-3">
                            <label class="form-label"> Nama Barang </label>
                            <input type="text" class="form-control" id="NamaBarang" name="NamaBarang" disabled/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Stock </label>
                            <input type="number" id="Stock" class="form-control" name="Stock" disabled/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Harga Satuan </label>
                            <input type="number" id="Harga" class="form-control" name="Harga" disabled/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Jumlah Beli </label>
                            <input type="number" id="Total" class="form-control" name="Total" />
                        </div>
                        <div>
                            <div class="mb-3">
                                <h3>Total</h3>
                                <p type="number" id="TotalBayar"> </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary disabled" id="submitButton">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@foreach (var item in Model)
{
    string numberFormat = String.Format("{0:N}", item.Harga);
    <script>
        $(function () {
            $('[id*=@item.IdBarang]').on('click', function () {
                $.get("Products/GetProductById?id=" + "@item.IdBarang",
                    function (response) {
                        $('#IdBarang').val(response.idBarang);
                        $('#NamaBarang').val(response.namaBarang);
                        $('#Stock').val(response.stock);
                        $('#Harga').val(response.harga);
                        $('#TotalBayar').html("Rp @numberFormat");
                    });
            });
        });
    </script>
}

<script>
    let numberFormat = new Intl.NumberFormat('id-ID', {
        style: 'currency',
        currency: 'IDR',
    });

    $('#Total').on('keyup', function () {
        let total = parseInt($('#Total').val());
        let price = parseInt($('#Harga').val());

        if (total > 0) {
            $('#TotalBayar').html(numberFormat.format(total * price));
            $('#submitButton').removeClass('disabled');
        } else {
            $('#TotalBayar').html(0);
            $('#submitButton').addClass('disabled');
        }
    });
</script>

@if (TempData["statusCode"] != null)
{
    <script>
        $(window).on('load', function () {
            $('#MessageModal').modal('show');
        });
    </script>
}
