﻿@model List<FinalProject.Models.Product>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Product Page";
}
<head>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Product</h1>
    </div>

    <div class="d-flex flex-row justify-content-center m-5">
        <a asp-controller="Categories" asp-action="Index" class="btn @(ViewBag.CurrentTable == "Product Type" ? "btn-danger" : "btn-light" )" style="width: 280px">Product Type</a>
        <a asp-controller="Products" asp-action="Index" class="btn @(ViewBag.CurrentTable == "Product" ? "btn-danger" : "btn-light" )" style="width: 280px">Product</a>
    </div>


    <div class="card mt-2">
        <div class="card-body student-list">
            <button type="button" data-bs-toggle="modal" data-bs-target="#CreateProductModal" class="btn btn-primary mb-2">Create New Product Type</button>
            <table class="table" id="ProductTypeTable">
                <thead>
                    <tr>
                        <th> Nama Barang </th>
                        <th> Jenis Barang </th>
                        <th> Deskripsi Barang </th>
                        <th> Jumlah Stock </th>
                        <th> Harga Satuan </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.NamaBarang </td>
                            <td> @item.IdKategoriNavigation?.NamaKategori </td>
                            <td> @item.Deskripsi </td>
                            <td> @item.Stock </td>
                            <td>
                                @{ string newPriceFormat = String.Format("{0:N}", item.Harga); }

                                Rp @newPriceFormat
                            </td>
                            <td>
                                <button data-bs-toggle="modal" data-bs-target="#UpdateProductModal" id="@item.IdBarang" class="btn btn-warning">Update</button>
                                <a asp-controller="Products" asp-route-id="@item.IdBarang" asp-action="DeleteProduct" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @* update modal *@
    <div class="modal fade" id="UpdateProductModal" tabindex="-1" aria-labelledby="UpdateProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="UpdateProductModalLabel">Update Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Products" asp-action="UpdateProduct">
                    <div class="modal-body">
                        <input type="hidden" id="IdBarang" name="IdBarang" />
                        <div class="mb-3">
                            <label class="form-label"> Nama Product </label>
                            <input type="text" id="NamaBarang" class="form-control" name="NamaBarang" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Jenis Barang </label>
                            @Html.DropDownList("IdKategori", (IEnumerable<SelectListItem>)ViewBag.CategoriesDropdown, new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Deskripsi Barang</label>
                            <input type="text" class="form-control" id="Deskripsi" name="Deskripsi" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Stock </label>
                            <input type="number" id="Stock" class="form-control" name="Stock" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Harga Satuan </label>
                            <input type="number" id="Harga" class="form-control" name="Harga" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @* create modal *@
    <div class="modal fade" id="CreateProductModal" tabindex="-1" aria-labelledby="CreateProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="CreateProductModalLabel">Create Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" asp-controller="Products" asp-action="CreateProduct">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label"> Nama Barang </label>
                            <input type="text" class="form-control" name="NamaBarang" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Jenis Barang </label>
                            @Html.DropDownList("IdKategori", (IEnumerable<SelectListItem>)ViewBag.CategoriesDropdown, new { @class = "form-control" })
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Deskripsi Barang</label>
                            <input type="text" class="form-control" id="Deskripsi" name="Deskripsi"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Stock </label>
                            <input type="number" id="Stock" class="form-control" name="Stock" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label"> Harga Satuan </label>
                            <input type="number" id="Harga" class="form-control" name="Harga" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
@foreach (var item in Model)
{
    <script>
        $(function () {
            $('[id*=@item.IdBarang]').on('click', function () {
                $.get("Products/GetProductById?id=" + "@item.IdBarang",
                    function (response) {
                        $('#IdBarang').val(response.idBarang);
                        $('#NamaBarang').val(response.namaBarang);
                        $('#IdKategori').val(response.idKategori);
                        $('#Deskripsi').val(response.deskripsi);
                        $('#Stock').val(response.stock);
                        $('#Harga').val(response.harga);
                    });
            });
        });
    </script>
}
